{% if include.data == site.data.reviewing or include.data == site.data.service %}
{% assign items = include.data | sort: "year" %}
{% for item in items reversed %}
<bold>{{item.role}}</bold>
<span>{{item.venue}} {{item.year}}</span><br>

{% endfor %}

{% else %}


{% assign pubs = include.data | sort: "date" %}
{% for pub in pubs reversed %}
<div class="row" style="margin-bottom: 10;">
    <div class="col">
        <bold>{{pub.title}}</bold><br>
        <span>{{pub.authors}}</span><br>
        <span>{{pub.journal}} {{pub.year}}</span><br>
        <span>{{pub.links}}</span>
    </div>
    {% if pub.image %}
    <div class="col">
        <img src="/assets/papers/{{pub.image}}" alt="Teaser image for publication. Shakes and dances on hover."
            class="img-fluid pub-image" style="max-height: 68;" />
    </div>
    {% endif %}
</div>
{% endfor %}


{% endif %}