<!-- TALKS -->
{% if include.data == site.data.talks %}
{% assign talks_grouped = include.data | group_by: 'title' %}
{% assign talks_grouped = talks_grouped | sort: 'year' %}
{% for talks in talks_grouped reversed %}
<div class="row" style="margin-bottom: 10;">
    <div class="col">
        <bold>{{talks.name}}</bold><br>
        {% for talk in talks.items %}
        <span>{{talk.organization}}, {{talk.year}}</span><br>
        {% endfor %}
    </div>
</div>
{% endfor %}

<!-- REVIEWING WORK and SERVICE -->
{% elsif include.data == site.data.reviewing or include.data == site.data.service %}
{% assign things = include.data | sort: "year" %}
{% for thing in things reversed %}
<div class="row" style="margin-bottom: 10;">
    <div class="col">
        <bold>{{thing.role}}</bold>
        <span>{{thing.venue}} {{thing.year}}</span><br>
    </div>
</div>
{% endfor %}

<!-- EVERYTHING ELSE -->
{% else %}
{% assign pubs = include.data | sort: "date" %}
{% for pub in pubs reversed %}
<div class="row" style="margin-bottom: 10;">
    <div class="col">
        <bold>{{pub.title}}</bold><br>
        <span>{{pub.authors}}</span><br>
        <span>{{pub.journal}} {{pub.year}}</span><br>
        {% if pub.award %}
        <span style="background-color: rgb(242, 255, 182)">{{pub.award}}</span><br>
        {% endif %}
        <span>{{pub.links}}</span>
    </div>
    {% if pub.image %}
    <div class="col">
        <img src="/assets/papers/{{pub.image}}" alt="Teaser image for publication. Shakes and dances on hover."
            class="img-fluid pub-image" style="max-height: 68;" />
    </div>
    {% endif %}
</div>
{% endfor %}


{% endif %}