<br>
<br>

<h2>publications</h2>

<span><strong>Collaboration: Matters of Care for Visualization Design Study</strong></span><br>
<span>Derya Akbaba, Devin Lange, Michael Correll, Alexander Lex, Miriah Meyer</span><br>
<span>SIGCHI Conference on Human Factors in Computing Systems (CHI) (to appear), 2023</span><br>
<span><a href="https://osf.io/5y7ar/">paper</a> <a
                href="https://gotdairyya.substack.com/p/grwm-reflecting-on-qualitative-work">blog post</a> <a
                href="https://osf.io/cvrbs/">supplemental material</a></span>

<br>
<br>

<span><strong>Data Hunches: Incorporating Personal Knowledge into Visualizations</strong></span><br>
<span>Haihan Lin, Derya Akbaba, Miriah Meyer, Alexander Lex</span><br>
<span>IEEE Transactions on Visualization and Computer Graphics, 2022</span><br>
<span><a href="https://ieeexplore.ieee.org/document/9903288">paper</a> <a
                href="http://vdl.sci.utah.edu/data-hunch/">interactive prototype</a> <a
                href="https://vdl.sci.utah.edu/publications/2022_vis_data_hunches/">supplemental material</a></span>

<br>
<br>

<span><strong>Manifesto for Putting 'Chartjunk' in the Trash 2021!</strong></span><br>
<span>Derya Akbaba, Jack Wilburn, Main T. Nance, Miriah Meyer</span><br>
<span>alt.VIS, a workshop co-located with IEEE VIS, 2021</span><br>
<span><a href="https://altvis.github.io/papers/2021/akbaba.pdf">paper</a> <a href="https://chartjunk.art/">performance
                art as website</a></span>



<br>
<br>
<br>

<h2>news</h2>
<strong>May 2023</strong>
<p>Visiting and presenting at the HCDS group and hdilab @ ITU Copenhagen.</p>

<strong>April 2023</strong>
<p>Presenting my first first author <a href="https://osf.io/5y7ar/">publication</a> at CHI 2023!</p>

<strong>March 2023</strong>
<p>Wrote down my <a href="https://gotdairyya.substack.com/p/grwm-reflecting-on-qualitative-work">thoughts</a> about qual
        work in vis</p>