<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {
        html: true,
        content: function () {
            return `<div style="width: 10px"><img src="${this.getAttribute('cimg')}" alt="hand drawn image of Sweden marking Norrköping in the south-ish west corner of the country."/></div>`;
        }
    }));

    // For fun, assign links a different color
    const allLinks = document.querySelectorAll('a');
    var colorArray = ['#62CD88', '#FADF96', '#F0918E', '#ED73D0', '#A88DF8', '#9FCEFB'];

    allLinks.forEach(link => {
        const randomColor = colorArray[Math.floor(Math.random() * colorArray.length)]
        link.style.color = randomColor;
    });

</script>