@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Lora|Darker+Grotesque&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");


:root {
  /* VAPORWAVE */
  --green: #62CD88;
  --yellow: #FADF96;
  --orange: #F0918E;
  --pink: #ED73D0;
  --purple: #A88DF8;
  --blue: #9FCEFB;
}



/* TEXT */
h1 {
    font-family: "Indie Flower";
    color: DarkSlateGray;
    
  }


h2 {
    font-family: "IBM Plex Mono", serif;
    color: #575657;
    letter-spacing: 0;
  }


  body {
    background-color: #f1f1f1;
  }
  
  li, p,
  summary, span {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 18px;
    line-height: 22px;
  }

  /* BUTTONS */
  button {
    padding-left:0;
    border: none;
  }

  button:hover {
    color: palevioletred;
  }

  a:hover {
    /* background-color: #adb5bdcf; */
    text-decoration: underline;
    background-color: none;
    text-decoration-style: wavy;
  }

  /* ABOUT PAGE */
  #photo {
    width: 20%;
    float: left;
    display: inline;
    margin-right: 25pt;
    margin-top: 25pt;
  }

  #about-me {
    display: inline-block;
  }

  /* CHANGE PHOTO ON MOBILE */

  @media only screen and (max-width: 600px) {
    #photo {
      width: 70%;
      float: left;
      display: block;
      margin: 25pt;
    }
  }
